*{
    margin: 0px;
}

/*Vanligt*/
h1{
    font-size: 5vh;
}
ul{
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
}
a{
    color: #1a216B;
    text-decoration: none;
}
button{
    width: 9vw;
    height: 4vh;
    background-color: #d6d6d6;
    color: #1a216B;
    border: solid #d6d6d6 0.2vw;
    border-radius: 5px;
    box-shadow: black 0px 2px;
    padding: 0px;
}

li:nth-child(even) > a, .avtalPriser tr:nth-child(even){
    background-color: #d6d6d6;
    color:#1a216B;
}
button:active{
    box-shadow: none;
    border: solid #b6b6b6 0.2vw;
}
h2{
    padding-top: 2.4vh;
}
h2, h3{
    margin: 0.8vh 2vw!important;
}
#textCenter{
    text-align: center;
}

/*Header*/
.header{
    width: 99.1vw;
    height: 12vh;
    background-color: #1a216B;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img:last-child{
    margin-right: 1vw;
}

/*nav*/
.nav{
    background-color: #d6d6d6;
    border-style: solid;
    border-width: 0.2vw;
    border-color: #d6d6d6;
    border-radius: 5px;
    margin-top: 7vh;
}
.nav ul li{
    display: inline;
    margin: 0.4vh 1vw;
}

/*section*/
section{
    min-height: 73vh;
    margin: 0.2vh 0px;
}

/*footer:*/
footer{
    bottom:0px;
    display: flex;
    height: 16vh;
    width: 99.1vw;
    background-color: #1a216B;
    justify-content: space-between;
}
footer ul{
    display: flex;
    flex-direction: column;
    width:15vw;
}
footer ul a{
    color: #d6d6d6;
}
footer ul li{
    display: inline-block;
    color: #d6d6d6;
    padding: 0vh 1vw;
}
.footerLeft{
display: flex;
}
.footerUl{
    width: 10vw;
}
.footerUl > li:nth-child(even){
   background-color: #d6d6d6;
   border: solid 1px #1a216B;
   border-radius: 5px;
}

/*Container*/
.container{
    max-width: 55vw;
    background-color: #F5F5F5;
    border-radius: 5px;
    margin:auto;
    min-height: 120vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    
}
.container h1 {
    text-align: center;
}


/* All CSS till "Cards"*/
.avsnitt, img, h1{
    margin-top: 3vh;
    margin-bottom: 2vh;
  }
/*Höger kort>*/
#notWidth{
    
}
  .card{
    width: 55vw!important;
    height: 20vh;
    margin-top: 5px;
    border: 0px!important;
  }
  a button{
    width: 3.4vw;
    height: 20vh;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-top: 0.6vh;
  }
  .card-body{
    border-radius: 5px;
    padding: 5px!important;
    background-color: #1a216B;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .buttons{
    display: flex;
    flex-wrap: wrap;
    margin: 1vh 1.9vw;
    width: 38vw;
  }
  .buttons button{
    margin: 0.4vh 0.2vw;
    border-radius: 0px;
  }
  .card-body h3, .card-body h2{
    margin: 6px 1px;
    color: #d6d6d6;
  }
  .lillaAvsnittet{
    display: flex;
    flex-direction: row;
  }
  .lillaAvsnittet a, .lillaAvsnittetL{
    width: 3vw;
  }
  
  /*Kort i mitten*/
  #middle{
    width: 86vw;
  }
  #middle{
    margin-left: auto;
    margin-right: auto;
  }
  #middle2{
    width: 40vw;
  }
  #cBB h2{
    padding: 0px;
  }
  #bM{
    width: 13vw;
    height: 6vh;
    border-radius: 5px;
    margin: 0px;
  }
  #avAccV{
    height: 21.5vh;
    transition: 0.4s;
  }
  #avAccB{
    height: 21.5vh;
    transition: 0.4s;
  }
  #avAccE{
    height: 21.5vh;
    transition: 0.4s;
  }
  .avFH{
    height: 53vh;
  }
  .cBC{
    border-radius: 5px!important;
  }
  .cBB{
    width: 54.3vw!important;
  }
  .avBH{
    height: 53vh;
  }
  .priserKontaktaOss{
    display: flex;
    flex-direction: row;
  }
  .priserKontaktaOss a{
    margin-top: 3vh;
  }
  .priserKontaktaOss > a > button{
    width: 8vw!important;
    height: 4vh!important;
  }
  .priserKontaktaOss h3{
    width: 20vw;
    margin-bottom: 2vh!important;
  }
  .cBB2{
    display: flex;
    flex-direction: column;
    height:20vh;
  }
  .h3M{
    margin: 2.5vh 10vw!important;
  }
  .cBB2 a{
    margin:  3vh auto;
  }
  .card-body table{
    display: flex;
    flex-direction: column;
    color: #d6d6d6;
    margin-left: 2vw;
    width: 15vw;
  }
  .medarbetarButton{
    width: 25vw!important;
    height: 2vh!important;
    box-shadow: black 0px 2px;
    cursor: pointer;
  }
  .medarbetarButton:active{
    box-shadow: none;
  }
  .mCB{
    border-bottom-right-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
    border-top-right-radius: 0px!important;
    display: flex;
  }
  .mCB img{
      width: 8vw;
      height: 15vh;
      margin: 3vh 1vw;
  }
  .noOverflow{
      overflow: hidden;
  }
  
  
/*Forms CSS*/
form{
    margin-left: 2vw;
    width: 25vw;
}
label{
    color: #d6d6d6;
    width: 5vw;
}
.formPart3{
    display: flex;
}
.formPart3 > button{
    width: 2.5vw;
    height: 11vh;
    margin-top: 2vh;
    margin-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
/*länkar genom knappar till olika hemsidor*/

/*Vanliga bilder*/
.tjänsterbild1{
    max-width: 98vw;
    max-height: 30vh;
}
/* All CSS till Kassan*/

.vagn{
    float: right;
    width: 10vw;
    height: 5vh;
}
#informationShoppingVagn{
    background-color: #d6d6d6;
    width: 20vh;
    min-height: 20vh;
    position: absolute;
    display: none;
    right: 0px;
    border-radius: 10px;
}
.imgKundvagn{
    width: 40px;
    height: 40px;
    float: right;
}
.rensa{
    border: none;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: blue;    
}
#vagn td{
    background-color: #d6d6d6;
    border-radius: 5px;
    padding: 5px;
    font-size: medium;
    width: 20%;
}